@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

:root {
  --border-color: #144fc6;
  --fill-color: #6ab3f8;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #3494e4;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.cup {
  border: solid 5px var(--border-color);
  width: 200px;
  height: 500px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
}

.cup.small {
  width: 50px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 10px;
  margin: 10px;
  max-width: 300px;
  flex-wrap: wrap;
}

.fill {
  background-color: var(--fill-color);
}

.percentage {
  background-color: var(--fill-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  transition: 0.3s ease;
  width: 100%;
}
.remaining {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: 0.3s ease;
}
