### Change bind prefix
unbind C-b
set -g prefix C-s

### set right colors
set -ga terminal-overrides ",screen-256color:Tc"

## Resize panel
### Fine adjustment (1 or 2 cursor cells per bump)
bind -n S-Left resize-pane -L 2
bind -n S-Right resize-pane -R 2
bind -n S-Down resize-pane -D 1
bind -n S-Up resize-pane -U 1
bind-key f resize-pane -Z

# Coarse adjustment (5 or 10 cursor cells per bump)
bind -n C-Left resize-pane -L 10
bind -n C-Right resize-pane -R 10
bind -n C-Down resize-pane -D 5
bind -n C-Up resize-pane -U 5

### New windows
bind c new-window -c "#{pane_current_path}"
set -g base-index 1
set -g renumber-windows on
