@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.menu {
  top: 0;
  left: 0;
  transform: translateX(-1000%);
  position: absolute;
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.menu.active {
  transform: translateX(0px);
}

.open {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
  font-size: large;
}

.black {
  height: 100vh;
  width: 300px;
  background-color: black;
  top: 0;
  transition-delay: 0.3s;
}
.black.active {
  transition-delay: 0.1s;
}
.red {
  height: 100vh;
  width: 250px;
  background-color: red;
  transition-delay: 0.2s;
}
.red.active {
  transition-delay: 0.2s;
}

.white {
  height: 100vh;
  width: 200px;
  background-color: white;
  left: 0px;
  top: 0;
  transition-delay: 0.1s;
}
.white.active {
  transition-delay: 0.3s;
}

.menu-container {
}

.close {
  position: absolute;
  right: 10px;
  border: none;
  background-color: transparent;
  color: lightgrey;
  font-size: 18px;
}

ul {
  list-style-type: none;
}
li {
  padding: 20px 0;
  text-transform: uppercase;
}

li a {
  text-decoration: none;
  color: black;
}
