* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slider {
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slider > div {
  width: 100%;
  height: 100vh;
}

.right-slider {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slider > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.up,
.down {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 35%;
}

.up {
  transform: translateY(-100%);
}
.down {
  transform: translateX(-100%);
}
